{erl_opts, [
    debug_info,
    nowarn_unused_function,
    {i, "./_build/default/plugins/gpb/include"}
]}.

{deps, []}.
{plugins, [rebar3_gpb_plugin]}.

{gpb_opts, [{i, "src"},
            {o_hrl, "include"},
            {o_erl, "src"},
            {module_name_suffix, "_pb"},
            {strings_as_binaries, true},
            type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.
